<div class="form-section">
  <div class="container">
      <div class="row">
          <div class="col-6 mx-auto form-col">
              <div class="card card-body">
                  <form name="add-todo-form" #MainForm = 'ngForm' (ngSubmit) = "onSubmitHandler(MainForm)">
                      <div class="form-group">
                          <label for="title">Title</label>
                          <input type="text" name="title" id="title" ngModel  class="form-control" required>
                      </div>
                      <!-- /.form-group -->
                      <div class="form-group">
                          <label for="text">Text</label>
                          <input type="text" name="text" id="text" ngModel class="form-control" required>
                      </div>
                      <!-- /.form-group -->
                      <button type="submit" [disabled]="MainForm.invalid" class="btn btn-primary" id="btn">Add task</button>
                  </form>
              </div>
              <!-- /.card card-body -->
          </div>
          <!-- /.col-6 -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->
</div>